#exportPattern("^[[:alpha:]]+")
export( "mtiDB" )
export( "getMtiCon" )
export( "getAvailableSpecies" )
export( "getSupportTypes" )
export( "getMtiForMiRNA" )
export( "getMtiForGene" )
export( "mirtarbase" )
import( "RSQLite" )
import( "mirbase.db" )
import( "AnnotationDbi" )
