#exportPattern("^[[:alpha:]]+")
export( "mtiDB" )
export( "getMtiCon" )
export( "getAvailableSpecies" )
export( "getAvailableExperiments" )
export( "getPmids" )
export( "getSupportTypes" )
export( "getMti" )
export( "mirtarbase" )
export( "newReport" )
export( "newMTI" )
## conversion functions (convertfunctions.R)
export( "data.frame2report" )
export( "report2data.frame" )
export( "data.frame2mti" )
export( "mti2data.frame" )
## mirbase stuff
export( "getMirbaseCon" )
export( "getMirbaseForMature" )
export( "getMirbaseFamForMature" )
export( "mgetMirbaseForMature" )
export( "mgetMirbaseFamForMature" )
## classes:
exportClasses( Report, MTI )
## methods:
exportMethods( show, experiments, supportedBy, pmid, id, reports, experiments, matureMirna, mirnaSpecies, targetGene, targetGeneSpecies, targetGeneEntrezid, reportCount, mirna, mirnaAccession, mirnaFamily, matureAccession, matureSequence )

## imports
import( "RSQLite" )
import( "mirbase.db" )
import( "AnnotationDbi" )
import( "methods" )
